<launch>
  <arg name="pi/2" value="1.5707963267948966" />
  
  <node name="$(anon tf_map)"
	pkg="tf" type="static_transform_publisher"
	args="0 0 0 0 0 0 bus_cam bus 100" />

  
  <node name="$(anon tf_camopt)"
	pkg="tf" type="static_transform_publisher"
	args="0 0 0 0 0 -$(arg pi/2) bus_cam bus_cam_opt 100" />
  

  <node name="$(anon st_pub)"
	pkg="st_pub" type="st_pub_node" />

  <node name="$(anon zed_sensor)"
	pkg="zed_sensor" type="zed_sensor_node" output="screen" />



  <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find st_pub)/data/st.rviz" />
	

</launch>
